
.OurAim {
    text-align: center;
    margin: 12px;

    /**....................**/

    max-width: 1200px;
   
    overflow: auto;

   
   
    
    
  
    box-shadow: 5px 5px 10px    rgb(0, 0, 0);
    border: 1px groove  rgb(15, 32, 64);
    border-radius: 10px;
    font-size: 1.3em;
    
}

.OurAim h4{
    text-decoration: underline;
    text-shadow: 1px   1px     4px rgb(246, 254, 4);
    padding: 10px;
    font-size: 1.2em;
    color:rgb(24, 141, 102)
}
